body{
    font-family: arial,sans-serif;
}

#bloc_page{

}
/*BLOCK GAUCHE----------------------------------------------*/
aside{
  background-color: #FBC02D;
  font-size: 14px;
  float: left;
  width: 20%;
  position: relative;
  height: 1500px; /*à ajuster selon longueur finale bloc droit*/
}

#last-div{
position: absolute;
bottom: 15px;
left: 0;
right: 0;
}

img{
  height: 150px;
  width: 150px;
  border-radius: 150px;
  border-radius: solid 5px;
  display: block;
  margin: auto;
 }

aside h3{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  background-color: #424242;
  padding: 5px;
  color: #FBC02D;
  text-align: center;
}

aside p{
  margin: 25px;
  text-align: justify;
}

.icon-hobby{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  }

  .element{
    color: #424242;
    border: solid 1px #424242;
    border-radius: 50px;
    padding: 10px;
    weight: 50px;
    height: 40px;
  }

a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
  font-weight: bold;
  color: black;
}

/*BLOCK DROIT----------------------------------------------*/
section{
  float: right;
  width: 80%;
}

header{
  margin: 40px;
}

main{
  margin: 20px;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

h2{
  font-size: 18px;
  font-weight: normal;
}

h3{
  font-family: 'Montserrat', sans-serif;
  border-bottom: solid 2px #FBC02D;
    border: solid 1px green;
}

h4{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

strong{
  color: #FBC02D;
}

span{
  border-bottom: solid 2px #FBC02D;
}

.cat-right{
  display: flex;
  flex-direction: column;
}

.block-date{
  float: left;
  width: 20%;
  margin-left: 70px;
  border: solid 1px red;
}

.block-text{
  float: right;
  width: 70%;
  border: solid 1px blue;
}

.icon-title{
  color:#FBC02D;
  float: left;
  font-size: 150%;
}

.puce-date{
  color:#FBC02D;
  float: left;
  font-size: 70%;
}
.icon-title{
  color:#FBC02D;
  float: left;
  font-size: 150%;
}

.puce-date{
  color:#FBC02D;
  float: left;
  font-size: 70%;
}
