body{
    font-family: verdana,sans-serif;
    background-color: #E1BEE7;
    font-size: 0.9em;
    margin: auto;
}

#block-page{
  display: flex;
  margin: auto;
  max-width: 1000px;
  border:1px solid #9C27B0;
}

p{
  margin-top: 0;
}
/*--BLOCK GAUCHE / ASIDE----------------------------------------------*/
aside{
  position: relative;
  width: 30%;
  background-color: #9C27B0;
}

#block-loisirs{
position: absolute;
bottom: 20px;
left: 0;
right: 0;
}

.icon-hobby{
  display: flex;
  justify-content: space-around;
  margin:15px 15px 0 15px;
  }

  .element{
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px;
    font-size: 180%
  }

img{
  display: block;
  margin: auto;
  height: 150px;
  width: 150px;
  border-radius: 150px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 3px 3px 2px #7B1FA2;
  margin-top: 25px;
  margin-bottom: 25px;
 }

aside h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  color: #9C27B0;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 3px 2px #7B1FA2;
  padding: 5px;
}

aside p{
  color: white;
  margin: 25px;
  text-align: justify;
}

a{
  color: white;
}

a:hover{
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

/*--BLOCK DROIT / MAIN----------------------------------------------*/
main{
  width: 70%;
  background-color: white;
}
/*--HEADER-------------------------------------*/
header{
  margin-left: 50px;
  padding-bottom: 60px;
}

strong{
  color: #9C27B0;
}

.purple-line{
  border-bottom: 2px solid #9C27B0;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  padding-top:20px;
  margin-bottom: 10px;
}

h2{
  font-size: 18px;
  font-weight: normal;
  margin-top:10px;
}
/*--BLOCK ARTICLES / RESUME-------------------------------------*/
.resume{
  padding-left: 50px;
  padding-right: 50px;
}

.block-right{
  display: flex;
  flex-direction: column;
}

.block-title{
    border-bottom: 2px solid #9C27B0;
}

.icon-title{
  float: left;
  font-size: 150%;
  color:#9C27B0;
}

.block-right h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 25px;
}

/*Block puce et date (gauche)---------*/
article{
  display: flex;
  justify-content: space-between;
  margin: 20px 0 15px 0;
  padding: 0 30px 0 30px;
}

.block-date{
  display: flex;
  width: 30%;
  font-size: 0.8em;
}

.date{
  padding-left: 10px;
}

.puce-date{
  color:#9C27B0;
  font-size: 70%;
}
/*Block texte (droite)---------*/
.block-text{
  width: 70%;
  padding-left: 20px;
}

h4{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    margin: 0 0 15px 0;
  }

h5{
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 0.9em;
  margin: 0 0 10px 0;
}
/*Block Recommandation---------*/
h6{
  font-size: 0.9em;
  margin: 0 0 15px 0;
}

/*--RESPONSIVE DESIGN-------------------------------------*/

/*Mobile et tablette*/
@media screen and (max-width: 992px){
#block-page{
  display: block;
  width: auto;
}
img{
  margin-bottom: 30px;
}
  aside{
    width: 100%;
    float: none;
    flex-direction: column;
    padding-top: 5px;
  }
  #info p{
    text-align: center;
  }
  #presentation{
    padding-left: 15px;
    padding-right: 15px;
  }
  main{
    width: 100%;
    float: none;
  }
#block-loisirs{
  position:static;
}
.icon-hobby{
  padding-bottom: 15px;
}
header{
  margin: 0 20px 0 20px;
  padding: 10px 20px 20px 20px;
}
h1{
  font-size: 2.3em;
  text-align: center;
}
h2{
  font-size: 1.3em;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.block-title{
  display: inline-block;
  text-align: center;
  margin-bottom: 15px;
}
article{
  flex-direction: column;
  text-align: center;
}
.block-text{
  float: none;
  width: 100%;
  padding-left: 0;
}
h4, h5, h6{
  text-align: center;
}
.block-right h3{
  justify-content: center;
  padding: 0;
}
.block-date{
  flex-direction: row;
  justify-content: center;
  float: none;
  width: 100%;
}
.block-date p{
  color: #9C27B0;
}
.block-reco{
  padding-bottom: 15px;
}
  }

  /*Grand écran*/
  @media screen and (min-width: 1200px){
      #block-page{
      max-width: 1000px;
      justify-content: center;}
    }
