body{
    font-family: arial,sans-serif;
    margin: 0;
    background-color: black;
}

#bloc_page{
margin-left: auto;
margin-right: auto;
width: 1000px;
}
/*BLOCK GAUCHE----------------------------------------------*/
aside{
  background-color: #FBC02D;
  font-size: 14px;
  float: left;
  width: 25%;
  position: relative;
  height: 1430px; /*à ajuster selon longueur finale bloc droit*/
}

#last-div{
position: absolute;
bottom: 15px;
left: 0;
right: 0;
border: solid 1px red;
}

img{
  height: 150px;
  width: 150px;
  border-radius: 150px;
  border-radius: solid 5px;
  border: 2px solid #424242;
  display: block;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
 }

aside h3{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  background-color: #424242;
  padding: 5px;
  color: #FBC02D;
  text-align: center;
}

aside p{
  margin: 25px;
  text-align: justify;
  border: solid 1px black;
}

.icon-hobby{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  }

  .element{
    color: #424242;
    border: solid 1px #424242;
    border-radius: 200px;
    padding: 10px;
    font-size: 210%
  }

a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
  font-weight: bold;
  color: black;
}

/*BLOCK DROIT----------------------------------------------*/
section{
  float: right;
  width: 75%;
  background-color: white;
}

header{
  margin: 40px;
}

main{
  margin: 20px;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  border: solid 1px pink;
}

h2{
  font-size: 18px;
  font-weight: normal;
  border: solid 1px orange;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding-left: 130px;
}

.title-full{
  border-bottom: solid 2px #FBC02D;
  border: solid 1px green;
}

h4{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

strong{
  color: #FBC02D;
}

span{
  border-bottom: solid 2px #FBC02D;
}

.cat-right{
  display: flex;
  flex-direction: column;
}

.block-date{
  float: left;
  border: solid 1px red;
  margin-left: 40px;
  width: 190px;
}

.block-text{
  float: right;
  width: 60%;
  border: solid 1px blue;
}

.icon-title{
  color:#FBC02D;
  float: left;
  font-size: 150%;
}


.puce-date{
  color:#FBC02D;
  float: left;
  font-size: 70%;
}

.date{
  float: right;
}

.icon-title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  color:#FBC02D;
  float: left;
  font-size: 150%;
  border: solid 1px grey;
}

.puce-date{
  color:#FBC02D;
  float: left;
  font-size: 70%;
  border: solid 1px grey;
}
